<form class="registerForm" [formGroup]="registerForm" (ngSubmit)="userRegister()">
    <mat-form-field class="example-form-field full-width">
        <mat-label>Email*</mat-label>
        <input formControlName="email" matInput type="text">
    </mat-form-field>
    <mat-form-field class="example-form-field full-width">
        <mat-label>Username*</mat-label>
        <input formControlName="username" matInput type="text">
    </mat-form-field>
    <mat-form-field class="example-form-field full-width" >
        <mat-label>Password*</mat-label>
        <input formControlName="password" matInput type="password">
    </mat-form-field>
    <button mat-raised-button type="submit" class="full-width">Registration</button>
</form>
